@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Roboto:wght@400;700;900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg-color: #1F2937;
    --hero-main-text: #F8FAF8;
    --hero-secondary-text: #E5E7EB;
    --header-logo-text: #f9FAF8;
    --button: #3882F6;
    --information-header-text: #1F2937;
    --quote-bg: #E5E7EB;
    --quote-text: #1F2937;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 400px;
    max-height: auto;
}

header {
    display: flex;
    justify-content: center; 
    height: 600px;
    background-color: var(--dark-bg-color);
    color: white;
}

.header-container {
    width: 80vw;    
}

.nav-container {
    display: flex;
    align-items: center;
}

nav {
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    color: var(--header-logo-text);
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;    
}

li {
    cursor: pointer;
}

.container-hero {
    display: flex;
    margin: 30px 0;
    gap: 20px;
}

h1, .hero-p {
    margin: 25px 0;
}

h1 {
    color: var(--hero-main-text);
    font-size: 48px;
    font-weight: 700;
}

.hero-p {
    color: var(--hero-secondary-text);
    font-size: 18px;
}

button {
    background-color: var(--button);
    color: var(--hero-main-text);
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Sectie 2 */
.section-2 {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 400px;
}

.container-section2 {
    width: 70vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 35px 0;
    flex: 1 1 100%;
}

.cat-images {
    padding: 35px 0;
    text-align: center;
    display: flex;
}

.cat-image> img {
    width: 150px;
    height: 150px;
}

.cat-image {
    margin: 0 1vw;
}


.section-3 {
    background-color: var(--quote-bg);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote {
    color: var(--quote-text);
    font-size: 36px;
    font-style: italic;
    display: flex;
    align-items: flex-start;
}

.quote-author {
    color: #1F2937;
    font-weight: 700;
    font-size: 26px;
    display: flex;
    align-items: flex-end;
    padding-left: 400px;
}

.section-4 {
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cta {
    background-color: var(--button);
    font-display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    gap: 150px;
    border-radius: 8px;
    padding: 50px 150px;
}

.contact {
    color: white;
    margin: 10px 0;
}

.contact-header {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.contact-text {
    color: white;
}

button {
    display: flex;
    padding-top: 7px;
    border: 1px solid whitesmoke;
    justify-content: center;
}

footer {
    background-color: var(--dark-bg-color);
    display: flex;
    align-items: center;
    align-content: center;
    height: 100px;
    color: var(--quote-bg);
}

footer > p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

















